
body {
  padding: 20px 10px;
  background-color: bisque;
}
.app-holder{max-width: 500px; margin: 0 auto;}
.todolist-container{padding: 20px 10px;} 
ul{margin: 0;}
li{padding-top: 10px; display: flex; padding: 10px 10px;}
li .card{
  width: 100%;
  padding: 10px 0;margin: 15px 0;
  box-shadow: 2px 2px 4px #c1c1c1;
}
ul{padding: 0;}
li > div i{padding-right: 10px;}
li > div span{cursor: pointer;}
.holder{padding: 20px 0; text-align: center; font-weight: bold;}
.task-holder,.list-holder{max-width: 600px; margin: 0 auto; padding: 20px 0;}
.flexbox{display: flex; justify-content: center;}
.line-through{text-decoration: line-through;}

.todo-wrapper{
  background-color: #282c34;
  padding: 2rem ;
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}
.todo-form{
   padding: 1.75rem; 
}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: #000;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.todo-btn{
  background-color: aqua;
  border: 1px solid aqua;
  padding: 0.45rem;
  cursor: pointer;
}
.todo-input{
  padding: 0.45rem;

}

.todo-list, h2, .empty-list {
  display: block;
  color: #fff;
}
.list-block{
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid gray;
  margin: 15px auto;
  max-width: 70%;
}
.list-block h4{
  width: 80%;
  cursor: pointer;
}
.completed{
  text-decoration: line-through;
}
.list-block span{cursor: pointer;}